---
layout: page
title: Leaked Video
---

{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% endif %}

{% include ads1.html %}

<div class="separator" style="clear: both;">
    <a rel="nofollow" href="/watch-video-1.html?link=aHR0cHM6Ly93d3cuaGlnaHJldmVudWVuZXR3b3JrLmNvbS9tcTdjMXM1NW4/a2V5PWZiYzY2N2NjZThiYTliOGI5MjVkMWIwODU4NmRjMjRl" style="display: block; padding: 1em 0; text-align: center;">
        <img src="{{ site.baseurl }}/images/video.webp" alt="Linux Shred" title="Linux Shred">
    </a>
</div>

    <script>
        function getParameter() {
            const urlParams = window.location.search.substring(1); // Get the substring after '?'
            return urlParams ? urlParams : 'Parameter not found';
        }

        function displayParameter() {
            const paramValue = getParameter();
            document.getElementById('param-value').textContent = paramValue;
        }
    </script>

{% include ads2.html %}

{% include ads1.html %}

{% include ads2.html %}

{% include ads1.html %}
{% include adspop.html %}
{% include adspop.html %}
