---
---

//
// IMPORTS
//

@import "reset";
@import "open-color";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
* {
    margin: 0;
    padding: 0;
}
#postzu-main{float:left;width:728px;padding:0}
#postzu-wrap{width:728px;background:none repeat scroll 0 0 #FFF;border:1px solid #f6f6f6;padding:10px;margin-right:auto;margin-left:auto}
#postzu-contents{width:728px;margin:0;padding:0}
@media screen and (max-width:800px){#postzu-wrap{width:auto}#postzu-contents{width:100%}#postzu-main{width:auto;padding:5px;float:none}#footer{width:100%}.postthumb{width:50px;height:50px}img,iframe,embed,object{max-width:100%}}
@media screen and (max-width:600px){#postzu-wrap{width:auto;padding:0}}
.separator{position:relative;text-align:center}#countdown{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:2em;font-weight:700;color:#fff;background-color:rgba(0,0,0,.5);padding:10px;border-radius:5px;display:none}
html {
  font-size: $base-font-size;
}

body {
  font-family: $base-font;
  color: $base-color;
  line-height: 1.6;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
}

h6 {
  color: $base-lighten-color;
}

p {
  color: $text-color;
  margin: 15px 0px;
  text-align: justify;
}

a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $link-color;
  }
}

figcaption {
  text-align: center;
  font-size: medium;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

hr {
  border: 0;
  border-top: 2px solid $divider-color;
  margin: 1.5em auto;
}

// Yeun's list style
// https://gist.github.com/yeun/d824fc7b04b756508f4b0143535cec30

ol, ul {
  > li {
    &:before {
      position: absolute;
      width: $li-bullets-width;
      margin-left: -$li-bullets-width;
      display: inline-block;
      box-sizing: border-box;
      text-align: right;
    }
  }
}

ul {
  > li:before {
    content: "\2022";
    padding-right: $ul-bullets-right-space;
    font-family: $ul-bullets-font;
    font-size: $ul-bullets-font-size;
    line-height: $ul-bullets-font-line-height;
  }
}

ol {
  counter-reset: section;

  > li:before {
    counter-increment: section;
    content: counter(section) ".";
    padding-right: $ol-bullets-right-space;
    font-family: $ol-bullets-font;
    font-size: $ol-bullets-font-size;
    line-height: $ol-bullets-font-line-height;
  }
}

ol, ul {
  > li {
    margin: 0 auto $li-bottom-space $li-bullets-width;
    line-height: $li-line-height;

    > ol,
    > ul {
      margin-top: $li-bottom-space;
    }
  }
}

li {
  > ol,
  > ul {
    > li {
      font-size: ($li-child-size-ratio * 1em);
      margin: 0 auto ($li-bottom-space * $li-child-size-ratio) ($li-bullets-width * $li-child-size-ratio);
    }
  }
}

// Definition list
dt {
  float: left;
  width: $dt-width;
  overflow: auto;
  clear: left;
  text-align: right;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: $li-bottom-space;

  @include mobile {
    width: 120px;
  }
}

dd {
  margin-left: $dd-position;
  margin-bottom: $li-bottom-space;

  @include mobile {
    margin-left: 140px;
  }
}

// Table
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid $table-border-color;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid $table-border-color;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $table-background-color;
}

// Blockquote
blockquote {
  font-weight: 300;
  padding: 0 0 0 1.4rem;
  margin: 0 2.0rem 1rem 0rem;
  border-left: .2em solid $blockquote-border-color;
  text-align: justify;

  p {
    margin-bottom: 0;
    font-family: 'Palatino Linotype','Book Antiqua',Palatino,STKaiti,KaiTi,'楷体',
      SimKai,DFKai-SB,NSimSun,serif
  }
}

// Footnote
a.footnote {
  &,
  .post p &,
  .post ol &,
  .post ul & {
    margin: 0 3px;
    padding: 0 2px;
    font-size: $small-font-size;
    text-align: center;
    border: 1px solid $footnote-link-border-color;
    border-radius: 2px;
    -webkit-text-stroke: 0.25px;
    -webkit-transition: 0.2s ease-out all;
    text-decoration: none;

    &:hover {
      background: $footnote-link-background-over-color;
    }
  }
}

.footnotes {
  border-top: 1px solid $divider-color;
  font-size: $small-font-size;
}

// Image
img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
  color: $selection-color;
  background: $selection-background-color;
}
::selection {
  color: $selection-color;
  background: $selection-background-color;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

// Alignment
.center {
  text-align: center;

  &-image {
    margin: 0 auto;
    display: block;
  }
}

.right {
  text-align: right
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
    text-align: center;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

// Posts
.posts > .post {
  border-bottom: 1px solid $divider-color;
}
.posts > .post h2 {
    font-size: 18px;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
    padding-left: 30px;
    margin: 0;
}.posts > .post h2 a {
    display: block;
}.notes {
background: no-repeat center url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23000' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 495.398 495.398' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M35.7 32.95h33.54V11.18C69.24 5.01 74.25 0 80.43 0c6.17 0 11.18 5.01 11.18 11.18v21.77h49.21V11.18c0-6.17 5.01-11.18 11.19-11.18 6.17 0 11.18 5.01 11.18 11.18v21.77h49.21V11.18C212.4 5.01 217.41 0 223.59 0c6.17 0 11.18 5.01 11.18 11.18v21.77h49.21V11.18c0-6.17 5.01-11.18 11.19-11.18 6.17 0 11.18 5.01 11.18 11.18v21.77h34.55c9.83 0 18.76 4.03 25.21 10.49 5.36 5.35 9.04 12.4 10.15 20.23h.04c9.82 0 18.76 4.03 25.21 10.48C407.98 80.62 412 89.56 412 99.37v376.8c0 9.77-4.04 18.7-10.49 25.17-6.51 6.5-15.45 10.53-25.21 10.53H67.71c-9.81 0-18.75-4.02-25.22-10.49-6.14-6.14-10.09-14.53-10.45-23.8-8.36-.86-15.9-4.66-21.55-10.31C4.03 460.82 0 451.89 0 442.06V68.65c0-9.83 4.03-18.77 10.48-25.22 6.45-6.45 15.39-10.48 25.22-10.48zm340.9 51.06v358.05c0 9.8-4.03 18.74-10.49 25.2-6.47 6.47-15.41 10.5-25.21 10.5H52.43c.39 3.59 2.01 6.82 4.44 9.25 2.79 2.79 6.64 4.53 10.84 4.53H376.3c4.22 0 8.07-1.74 10.85-4.52 2.78-2.78 4.52-6.63 4.52-10.85V99.37c0-4.2-1.74-8.05-4.54-10.84a15.334 15.334 0 0 0-10.53-4.52zm-294 302.37c-5.74 0-10.4-4.86-10.4-10.85 0-5.99 4.66-10.85 10.4-10.85h214.78c5.74 0 10.41 4.86 10.41 10.85 0 5.99-4.67 10.85-10.41 10.85H82.6zm0-71.58c-5.74 0-10.4-4.86-10.4-10.85 0-5.99 4.66-10.85 10.4-10.85h214.78c5.74 0 10.41 4.86 10.41 10.85 0 5.99-4.67 10.85-10.41 10.85H82.6zm0-71.58c-5.74 0-10.4-4.86-10.4-10.85 0-5.99 4.66-10.85 10.4-10.85h214.78c5.74 0 10.41 4.86 10.41 10.85 0 5.99-4.67 10.85-10.41 10.85H82.6zm0-71.58c-5.74 0-10.4-4.86-10.4-10.85 0-5.99 4.66-10.85 10.4-10.85h214.78c5.74 0 10.41 4.86 10.41 10.85 0 5.99-4.67 10.85-10.41 10.85H82.6zM306.35 53.28v21.77c0 6.17-5.01 11.18-11.18 11.18-6.18 0-11.19-5.01-11.19-11.18V53.28h-49.21v21.77c0 6.17-5.01 11.18-11.18 11.18-6.18 0-11.19-5.01-11.19-11.18V53.28h-49.21v21.77c0 6.17-5.01 11.18-11.18 11.18-6.18 0-11.19-5.01-11.19-11.18V53.28H91.61v21.77c0 6.17-5.01 11.18-11.18 11.18-6.18 0-11.19-5.01-11.19-11.18V53.28H35.7c-4.22 0-8.07 1.75-10.85 4.52-2.77 2.78-4.52 6.63-4.52 10.85v373.41c0 4.2 1.75 8.05 4.53 10.84 2.8 2.79 6.65 4.53 10.84 4.53h305.2c4.19 0 8.03-1.75 10.83-4.54 2.79-2.8 4.54-6.65 4.54-10.83V68.65c0-4.19-1.74-8.04-4.53-10.84-2.79-2.78-6.64-4.53-10.84-4.53h-34.55z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
width: 30px;
height: 30px;
position: absolute;
margin: 0;
}
.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  h1 {
    margin-bottom: .1em;
  }

  .date {
    font-weight: 300;
    font-size: $small-font-size;
    color: $base-lighten-color;
    margin-right: 3px;
  }

  .tag {
    display: inline;
    font-weight: 300;
    font-size: $small-font-size;

    li:before {
      content: '';
    }

    li {
      display: inline;
      margin: 0;

      > a {
        margin: 3px 3px 3px 0;
        padding: .5px 4px;
        color: $tag-index-label-color;
        background-color: $tag-index-label-background-color;
        border-radius: 3px;
      }
    }
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
  }
}

.pagination {
  font-weight: 300;
  padding: 2em 0;
  width: 100%;
  display: inline-block;

  @include mobile {
    font-size: $small-font-size;
  }

  > .prev {
    float: left;
    width: 50%;
    a {
      color: $pagination-color;
      &:hover, &:focus {
        color: $pagination-over-color;
      }
    }
  }

  > .next {
    float: right;
    text-align: right;
    width: 50%;
    a {
      color: $pagination-color;
      &:hover, &:focus {
        color: $pagination-over-color;
      }
    }
  }
}

// Archive
.archive {
  a {
    color: $base-color;
  }
  time {
    color: $base-lighten-color;
    font-size: $small-font-size;
    font-weight: 300;
    margin-left: 3px;
  }
}

// Tags
.tags > .label {
  > li:before {
    content: "";
  }

  > li {
    margin: 0;
    font-size: $small-font-size;
    font-weight: 300;
    display: inline;

    > a {
      display: inline-block;
      margin: 1px;
      color: $tag-index-label-color;
      background-color: $tag-index-label-background-color;
      border-radius: 3px;

      span {
        float: left;
        padding: .5px 5px;

        &.count {
          background-color: $tag-index-count-background-color;
          border-radius: 0 3px 3px 0;
        }
      }
    }
  }
}

.tags > .tag {
  a {
    color: $base-color;
  }
  time {
    color: $base-lighten-color;
    font-size: $small-font-size;
    font-weight: 300;
    margin-left: 3px;
  }
}

// Footer
.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid $footer-border-color;
  border-bottom: 1px solid $footer-border-color;
  background-color: $footer-background-color;
}

footer {
  padding: 20px 0;
  text-align: center;

  p {
    font-size: $small-font-size;
    text-align: center;
  }

  .svg-icon {
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 10px;
    }

    svg {
      height: 30px;
      width: 30px;
    }

    em {
      font-size: 18px;
      line-height: 1.5;
      margin-top: -.75em;
      position: absolute;
      text-align: center;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
